/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


/* TÍTULO PRINCIPAL */
main h1,
main h3 {
  text-align: center;
  margin: 30px 0 20px;
  color: #8c4b2f;
}

/* CARDS DE PEDIDOS */
.pedido-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

.pedido-card h4 {
  font-size: 18px;
  color: #5a2e1f;
}

.pedido-card p {
  margin: 5px 0;
}

.pedido-card ul {
  margin-top: 10px;
  padding-left: 20px;
}

